:root {
    --dark-color : #2b2c33;
    --light-color: #747474;
    --green-color: #8a9ba0;
    --white-color: #f4f5f5;
    --keyframes-content1: url(https://via.placeholder.com/1000x400?text=example1);
    --keyframes-content2: url(https://via.placeholder.com/1000x400?text=example2);
    --keyframes-content3: url(https://via.placeholder.com/1000x400?text=example3);
    --keyframes-content4: url(https://via.placeholder.com/1000x400?text=example4);
    --keyframes-content5: url(https://via.placeholder.com/1000x400?text=example5);
}

/*   GLOBAL   */
body {
    --body-background-color: var(--dark-color);
    --body-color:var(--white-color);
    --body-font-family: 'Dancing Script', cursive;
}

h1,
h2 {
    --title-font-family: 'Dancing Script', cursive;
}

ul span {
    font-size: 3rem;
}

.navbar {
    --navbar-background-color: var(--light-color);
    --navbar-link-hover-color: var(--dark-color);
}

/*   PRESENTATION   */
.text {
    --container-background-color: var(--green-color);
}

.text a {
    --btn-background-color: var(--light-color);
}

/*   PORTFOLIO   */
.menu {
    --menu-label-hover-background-color: var(--green-color);
    --menu-fa-color: var(--light-color);
    --menu-checked-label-background-color: var(--light-color);
}

/*   FOOTER   */
.foot {
    --foot-last-child-background-color: var(--light-color);
}